@import "breakpoints";

@mixin header-desktop {
    display: none;

    @include bp('lg') {
        display: block;
    }
}

@mixin header-mobile {
    display: block;
    
    @include bp('lg') {
        display: none;
    }
}